Project1.sdf
*.sln
*.filters
*.vcxproj
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

*mylog.txt

.d/
.ycm_extra_conf.py
Project1/bin/
Project1/build/
Project1/lib/
Project1/include/SDL2/
